<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>User Create Page</title>
</head>

<body>
  {% if error %}
  <p class="error"><strong>Error:</strong> {{ error }}
    {% elif errorpass %}
  <p class="error">{{ errorpass }}</p>
  {% elif phoneerror %}
  <p class="error">{{ phoneerror}}</p>
  {% endif %}
  </p>
  <form action="" name="" method="post" enctype="multipart/form-data">
    <p>Username</p>
    <input type="text" name="name" />

    <p>Email</p>
    <input type="email" name="email" />

    <p>Password</p>
    <input type="password" name="password" />

    <p>Confirm Password</p>
    <input type="password" name="confirmpass">

    <!--<p>

      <label for="user">Type</label>

      <select name="user" id="user">
        <option value="admin">Admin</option>
        <option value="user">User</option>

      </select>
    </p>-->

    <p>Phone</p>
    <input type="text" name="phone">

    <p>Date of Birth</p>
    <input type="date" name="dob">

    <p>Address</p>
    <textarea name="address" id="" cols="30" rows="10"></textarea>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    {% for message in messages %}
    <p>{{ message }}</p>
    {% endfor %}
    {% endif %}
    {% endwith %}
    <p>Profile</p>
    <input type="file" name="profile">

    <p><button type="submit" class="btn">Submit</button></p>
  </form>
</body>

</html>