<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <title>User lists</title>
</head>

<body>
  {% include 'navbar.html'%}

  <table class="table table-striped">
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Email</th>

      <th scope="col">Phone</th>
      <th scope="col">Address</th>
      <th scope="col">Dat of Birth</th>
      <th scope="col">Created Date</th>
      <th scope="col">Updated Date</th>
      <th scope="col">Type</th>
      <th scope="col">Delete</th>
    </tr>
    {% for user in users %}

    <tr>
      <td><a href="{{ url_for('update_user',id=user.id) }}">{{ user.name }}</a></td>

      <td>{{ user.email }}</td>

      <td>{{user.phone}}</td>
      <td>{{user.address}}</td>
      <td>{{user.dob}}</td>
      <td>{{user.created_at}}</td>
      <td>{{user.updated_at}}</td>
      <td>{{user.type}}</td>
      <td><a href="{{ url_for('deleteuser',id=user.id) }}" class="btn btn-danger">Delete</a></td>
    </tr>
    {% endfor %}
  </table>
</body>

</html>