{% block content %}<h1>Admin</h1>
<form action="" method="post">
  <div class="container-fluid">
    <div class="row">
      <div class="col-auto d-flex flex-column">
        <a href="{{ url_for('login_post') }}"><button class="btn btn-warning btn-md m-2" type="button">
            Login Screen
          </button></a>
      </div>

      <div class="col-auto d-flex flex-column">
        <button class="btn btn-warning btn-md m-2" type="button">
          User List
        </button>
        <button class="btn btn-warning btn-md m-2" type="button">
          Post List
        </button>
      </div>

      <div class="col-auto d-flex flex-column">
        <button class="btn btn-warning btn-md m-2" type="button">
          Post Create for User
        </button>
        <button class="btn btn-warning btn-md m-2" type="button">
          User Create for User
        </button>
      </div>

      <div class="col-auto d-flex flex-column">
        <button class="btn btn-warning btn-md m-2" type="button">
          Post Create Confirm
        </button>
      </div>

      <div class="col-auto d-flex flex-column">
        <button class="btn btn-warning btn-md m-2" type="button">
          Post Update For User
        </button>
        <button class="btn btn-warning btn-md m-2" type="button">
          User Update For User
        </button>
      </div>

      <div class="col-auto d-flex flex-column">
        <button class="btn btn-warning btn-md m-2" type="button">
          Post Update Confirm
        </button>
        <button class="btn btn-warning btn-md m-2" type="button">
          User Update Confirm
        </button>
      </div>
      <div class="col-auto d-flex flex-column">
        <button class="btn btn-warning btn-md m-2" type="button">
          CSV Upload
        </button>
      </div>
    </div>
  </div>
</form>{% endblock %}