<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous" />

  <title>User lists</title>
</head>


<body>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">SCM Bulletin Board</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="{{ url_for('user_lists') }}">Users List<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('users') }}">User </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('post_lists') }}">Posts List</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('post_create') }}">Posts</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('login_profile') }}">{{ session["emailemail"] }}</a>
        </li>

      </ul>
    </div>
  </nav>
  <form action="" methods="post">



    <table class="table table-striped">
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Email</th>

        <th scope="col">Phone</th>
        <th scope="col">Address</th>
        <th scope="col">Dat of Birth</th>
        <th scope="col">Created Date</th>
        <th scope="col">Updated Date</th>
        <th scope="col">Type</th>
        <th scope="col">Delete</th>
      </tr>
      {% for user in users %}

      <tr>
        <td><a href="{{ url_for('update_user',id=user.id) }}">{{ user.name }}</a></td>

        <td>{{ user.email }}</td>

        <td>{{user.phone}}</td>
        <td>{{user.address}}</td>
        <td>{{user.dob}}</td>
        <td>{{user.created_at}}</td>
        <td>{{user.updated_at}}</td>
        <td>{{user.type}}</td>
        <td><a href="{{ url_for('deleteuser',id=user.id) }}" class="btn btn-danger">Delete</a></td>
      </tr>
      {% endfor %}
    </table>

  </form>

  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

</body>

</html>