<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/style.css') }}">
  <title>Day 19</title>
</head>

<body>
  <form action="" name="" method="post">
    <p>Username</p>
    <input type="text" name="username">

    <p>Email</p>
    <input type="email" name="email">

    <p>Password</p>
    <input type="password" name="password">

    <p>Password Check</p>
    <input type="password" name="confirmpassword" placeholder="re-enter">

    <p><button type="submit" class="btn">
        Submit
      </button></p>
  </form>

  {% if error %}
  <p class="error"><strong>Error:</strong> {{ error }}
    {% endif %}

</body>

</html>